<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="article-title" class="form-label">Title:</label>
    <input type="text" formControlName="title" id="article-title" class="form-control">
    <mat-error *ngIf="articleForm.controls['title'].hasError('required') && articleForm.controls['title'].touched">
      Title is required.
    </mat-error>
  </div>

  <div>
    <label for="article-content" class="form-label">Content:</label>
    <textarea formControlName="content" id="article-content" class="form-control"></textarea>
    <mat-error *ngIf="articleForm.controls['content'].hasError('required')&& articleForm.controls['content'].touched">
      Content is required.
    </mat-error>
  </div>

  <div>
    <label for="article-auteur" class="form-label">Auteur:</label>
    <input type="text" formControlName="auteur" id="article-auteur" class="form-control">
    <mat-error *ngIf="articleForm.controls['auteur'].hasError('required') && articleForm.controls['auteur'].touched">
      Auteur is required.
    </mat-error>
  </div>

  <button mat-flat-button color="primary" type="submit" [disabled]="articleForm.invalid">Add Article</button>
</form>









