<mat-toolbar color="primary" class="navbar">
 <div>Blog de Fares</div>
 <div>
  <span routerLink ="/articles" >Home</span>
  <span routerLink ="/ajout" >Add Article</span>
  <span>About</span>
 </div>
</mat-toolbar>

<!-- Ajout: -->
<!-- <form #userForm="ngForm">
  <label for="article-title">Title:</label>
  <input type="text" name="title" [(ngModel)]="articleTitle" id="article-title">

  <label for="article-content">Content:</label>
  <textarea name="content" [(ngModel)]="articleContent" id="article-content"></textarea>

  <label for="article-auteur">Auteur:</label>
  <textarea name="auteur" [(ngModel)]="articleAuteur" id="article-auteur"></textarea>

  <button type="button" (click)="addArticle(articleTitle, articleContent,articleAuteur )">Add Article</button>
</form> -->



<!-- Affichage: -->


<!-- <ul>
  <li *ngFor="let article of articleService.getArticles()">
    <h2>{{article.title}}</h2>
    <p>{{article.content}}</p>
  </li>
</ul> --> 

<router-outlet></router-outlet>