<!-- <input type="text" [(ngModel)]="filterValue" placeholder="Rechercher..." class="form-control">
<ul>
  <li *ngFor="let article of ArticleSer| filter:filterValue,, index as i ">
    <mat-nav-list routerLink="/articles/{{i}}">{{article.title}} by {{article.auteur}}</mat-nav-list>
  </li>
</ul> -->
<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile style="border: 1px solid #3F51B5; border-radius: 5px; color: #283593; font-size: x-large; " *ngFor="let article of ArticleSer| filter:filterValue,, index as i " routerLink="/articles/{{i}}">
    <div><strong>{{article.title}} </strong> </div> 
    <mat-grid-tile-footer style="background-color:#3F51B5"> by {{article.auteur}} </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>